.btn {
    padding: 10px;

    &.btn--reset {
        background-color: antiquewhite;
        color: black;
    }
    &.btn--action {
        background-color: aquamarine;
        color: black;
    }
}