.message {
    position: absolute;
    padding-top: 9px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    border: 5px solid salmon;
    z-index: 999;
    color: $white;
    box-shadow: 1.5px 1.5px 1.5px $white;

    &__top {
      display: flex;
      align-items: center;
      margin: 0 10px;
      
      h3 {
        margin: 0;
      }
    }

    img {
        cursor: pointer;
        width: 15px;
        height: 15px;
        margin-left: auto;
    }

    p {
      word-wrap: break-word;
      margin: 15px 10px;
    }

    &--note {
        background-color: $black;
        width: 95%;
    }
    &--success {
        background-color: rgb(28, 184, 28);
        border-color: white;
    }
    &--error {
        background-color: salmon;
        border-color: black;
    }
}
