.message {
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 12.4%;
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        cursor: pointer;
        width: 15px;
        height: 15px;
    }

    &--note {
        background-color: $black;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        border: 5px solid salmon;
        padding: 10px;
        z-index: 999;
        color: $white;
        box-shadow: 1.5px 1.5px 1.5px $white;
    }

    &--error {
        background-color: salmon;
    }
}
